@import "tailwindcss";
@import "prosemirror-view/style/prosemirror.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Variables */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --font-sans: var(--font-geist-sans, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}

.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
}

/* Apply variables to body */
body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}


/* globals.css */
html {
  background-color: white;
}
html.dark {
  background-color: #0f172a; /* slate-900 */
  color: white;
}
